<div class="login-box">
    <h2>Añadir poblaciones</h2>
    <form action="loginsiguiente.php" method="POST">
        <div class="user-box">
            <input type="text" name="nombre" required="">
            <label>Nombre:</label>
        </div>
        <div class="user-box">
            <input type="textarea" name="descripcion" required="" class="textarea">
            <label>Descripción: </label>
            
        </div>
        
        <input type="file" name="imagen" id="" value="Subir Imagen" class="boton">
        <input type="reset" class="boton">
        <input type="submit" value="Añadir población" class="boton">
        
    </form>
</div>