<div class="login-box">
    <h2>Añadir poblaciones</h2>
    <form action="" method="POST">
        <div class="user-box">
            <input type="text" required [(ngModel)]="poblaciones.nombre" name="nombre">
            <label>Nombre:</label>
        </div>
        <div class="user-box">
            <textarea name="descripcion" required [(ngModel)]="poblaciones.descripcion" class="textarea"></textarea>
            <label>Descripción: </label>

        </div>
        <input type="text" name="lugares[]" value="">
        <input type="file" name="iImagen" id="" value="Subir Imagen" class="boton">
        <input type="reset" class="boton">
        <input type="submit" value="Añadir población" class="boton" (click)="enviarDatos()">

    </form>
</div>
