<div class="formulario" method="POST">
  <h2>Añadir población</h2>
  <input type="text" name="nombre" placeholder="Nombre..." required [(ngModel)]="poblaciones.nombre" maxlength="100">
  <textarea name="descripcion" placeholder="Descripción..." [(ngModel)]="poblaciones.descripcion" maxlength="1500"></textarea>
  <!-- <div>
    <input type="text" name="lugares[]" value="" placeholder="Lugar de Interés...">
    <button type="button"><i class="bi bi-plus-lg"></i></button>
  </div> -->
  <div>
    <input type="file" name="imagen" [(ngModel)]="poblaciones.imagen">
    <button type="submit" name="submit" (click)="enviarDatos('http://localhost/dist/php/controlador/c_poblaciones.php')">AÑADIR</button>
  </div>
</div>
