<div class="lista">
  <h2>Ruinas</h2>
  <div>
    <div class="imgContenedor">
      <img src="./assets/imgdb/ruinas/ruinabd1.jpg" alt="">
    </div>
    <div class="txtContenedor">
      <h4>Ruina 1</h4>
      <!-- <p *ngFor="let x of xx">
        {{obj.desc}}
      </p> -->
      <div>
        <button type="button" name="button"><i class="bi bi-trash3-fill"></i></button>
        <button type="button" name="button"><i class="bi bi-pencil-fill"></i></button>
      </div>
    </div>
  </div>
</div>
