<header>
  <nav>
    <a href="#"><img src="assets/logo-proyecto-horizontal.png" alt="Logotipo del proyecto"/></a>
    <button name="button" (click)="mostrarMenu()"><i class="bi bi-list"></i></button>
    <ul>
      <li><a href="#">INICIO</a></li>
      <li><a href="#">NOSOTROS</a></li>
      <li><a href="#">CONTACTO</a></li>
      <li><button name="login"><i class="bi bi-key-fill"></i></button></li>
    </ul>
  </nav>
  <aside>
    <ul>
      <li>
        <a href="#"><i class="bi bi-person-fill"></i></a>
        <span>Usuarios</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-journal-bookmark-fill"></i></a>
        <span>Cuadernos</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-geo-alt-fill"></i></a>
        <span>Poblaciones</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-trophy-fill"></i></a>
        <span>Etapas</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-cloud-sun-fill"></i></a>
        <span>Vivencias</span>
      </li>
    </ul>
  </aside>
</header>
<main>
  <section>
    <article>
      <app-listado-poblaciones></app-listado-poblaciones>
    </article>
    <article>
      <app-alta-poblaciones></app-alta-poblaciones>
    </article>
  </section>
  <footer>
  </footer>
</main>

